.ng-invalid.ng-touched{
  border-color: red;
}

.error-block{
  color: red;
}

button{
  margin-right: 5px;

}

.btn-group > label[ng-reflect-btn-radio]{
  margin-top: -15px;
  margin-bottom: 15px;
  border-radius: 44px;
  padding: 0 15px;
  line-height: 30px;
}
